@import url('https://fonts.googleapis.com/css?family=Hind:400,500,700');

html, body {
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Hind';
  background-color: #000;
  color: #fff;
}

.profile-form {
  margin-top: 50px;
}
